<ion-content [fullscreen]="true">

  <div id="container">
    
    <div id="title-home">
      <h2>Restaurants partenaires</h2>
    </div>
    <div id="reste">
    <p class="text-en-gras">
      Tous les restaurants partenaires bateau de Thibault
    </p>
    <p>
      06. 63.99.99.78
      <br>
      lebateaudethibault@gmail.com
      <br>
      www.facebook.com/lebateaudethibault
    </p>
  </div>

  <ion-row>
    <ion-col offset-4>
      <ion-button expand="full" color="dark" class="buttons-appli"> Bistrot des Gascons</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="dark" class="buttons-appli">  Le fous de l'île</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="full" color="dark" class="buttons-appli"> Bistrot Landais</ion-button>
    </ion-col>
    <ion-col offset-4>
      <ion-button expand="full" color="dark" class="buttons-appli">  Villa 9-Trois</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/recettes']" expand="full" color="dark" class="buttons-appli"> Bistrot du Sommelier</ion-button>
    </ion-col>
    <ion-col offset-4>
      <ion-button expand="full" color="dark" class="buttons-appli">Devenez Partenaire!</ion-button>
    </ion-col>
  </ion-row>

</div>
</ion-content>
