<ion-content [fullscreen]="true">

  <div id="container">
    
    <div id="title-home">
      <h2>Aquilon</h2>
    </div>
    <img class="image-vue" src= "../../assets/images/bateaux/aquilon.png">
    <div>
    <p>
      XXX YYY ZZZ
      <br>
    </p>
  </div>

  <div class="espace">
    <p id="reste-contact">
      Qu'il est chaud le soleil<br>
      Quand nous sommes en vacances<br>
      Y a d'la joie, des girondelles<br>
      C'est le sud de la France<br>
      Papa bricole au garae<br>
      Maman lit dans la chaise longue<br>
      Dans ce joli paysage<br>
      Moi, je me balade en tongs<br>
      <br>
      Que du bonheur!<br>
      que du bonheur!<br>
    </p>

  </div>
  

</div>
</ion-content>
