<ion-content [fullscreen]="true">

  <div id="container">
    
    <div id="title-home">
      <h3>Le bateau de Thibault</h3>
    </div>

    <div>
      <img class="image-vue" src= "../assets/images/contact/TIG.png">
    </div>
    <div id="reste">
      06. 63.99.99.78<br>
      lebateaudethibault@gmail.com<br>
      <span>www.facebook.com/lebateaudethibault</span>
    </div>

    <div>
      <p>
      Qu'il est chaud le soleil<br>
      Quand nous sommes en vacances<br>
      Y a d'la joie, des girondelles<br>
      C'est le sud de la France<br>
      Papa bricole au garae<br>
      Maman lit dans la chaise longue<br>
      Dans ce joli paysage<br>
      Moi, je me balade en tongs<br>
      <br>
      Que du bonheur!<br>
      que du bonheur!<br>
      </p>
    </div>

  

</div>
</ion-content>
