<ion-header>
  <ion-toolbar>
      <!-- <div>
        <ion-button [routerLink]="['/home']" expand="full" class="btn-color" color="dark" class="buttons-appli"> <img class="icon-buttons-1" src= "../assets/icons/poisson.png">  Produits et promotions</ion-button>
      </div>
    
    <div>
    <ion-title>i</ion-title>
    </div>
    
    <div>
      <ion-button [routerLink]="['/product']" expand="full" class="btn-color" color="dark" class="buttons-appli"> <img class="icon-buttons-1" src= "../assets/icons/poisson.png">  Produits et promotions</ion-button>
    </div> -->
    <ion-row>
      <ion-col>
        <div style="text-align: center;">1 of 3</div>
      </ion-col>
      <ion-col>
        <div style="text-align: center;">2 of 3</div>
      </ion-col>
      <ion-col>
        <div style="text-align: center;">3 of 3</div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  
<div style="margin-top:50px;margin-bottom:0" >
  <ion-button  expand="full" class="btn-color" color="dark" class="buttons-appli"> <img class="icon-buttons-1" src= "../assets/icons/poulpe.png">  Poisson</ion-button>
</div>
<div style="margin-top:50px;margin-bottom:0" >
  <ion-button  expand="full" class="btn-color" color="dark" class="buttons-appli"> <img class="icon-buttons-1" src= "../assets/icons/poulpe.png">  Coquillage</ion-button>
</div>
<div style="margin-top:50px;margin-bottom:0" >
  <ion-button  expand="full" class="btn-color" color="dark" class="buttons-appli"> <img class="icon-buttons-1" src= "../assets/icons/poulpe.png">  Crustacés</ion-button>
</div>
<div style="margin-top:50px;margin-bottom:0" >
  <ion-button  expand="full" class="btn-color" color="dark" class="buttons-appli"> <img class="icon-buttons-1" src= "../assets/icons/poulpe.png">  Promotion</ion-button>
</div>

</ion-content>



