<ion-content [fullscreen]="true">

  <div id="container">
    
    <div id="title-home">
      <h2>Le bateau Thibault</h2>
    </div>
    <div id="reste">
    <p class="text-en-gras">
      Vente en direct de notre bateau
      <br>
      Produits selon la saison , Livraisons sur Paris
    </p>
    <p>
      06. 63.99.99.78
      <br>
      lebateaudethibault@gmail.com
      <br>
      www.facebook.com/lebateaudethibault
    </p>
  </div>
  <div style="margin-top:50px;margin-bottom:0" >
    <ion-button [routerLink]="['/product']" expand="full" class="btn-color" color="dark" class="buttons-appli"> <img class="icon-buttons-1" src= "../assets/icons/poisson.png">  Produits et promotions</ion-button>
  </div>

  <ion-row>
    <ion-col offset-4>
      <ion-button [routerLink]="['/vue2']" expand="full" color="dark" class="buttons-appli"><img class="icon-buttons" src= "../assets/icons/ancre.png"> Bateaux</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/restaurent']" expand="full" color="dark" class="buttons-appli"> <img class="icon-buttons" src= "../assets/icons/restaurant.png"> Restaurants</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/recettes']" expand="full" color="dark" class="buttons-appli"> <img class="icon-buttons" src= "../assets/icons/poulpe.png" >  Recettes</ion-button>
    </ion-col>
    <ion-col offset-4>
      <ion-button expand="full" color="dark" class="buttons-appli"><img class="icon-buttons" src= "../assets/icons/homard.png">  Contact</ion-button>
    </ion-col>
  </ion-row>
</div>
</ion-content>
