<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>
      Alessandro
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alessandro</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <h2>Le bateau Thibault</h2>
    <p>
      Vente en directe de notre bateau
      <br>
      Produits selon la saison , Livraisons sur Paris
      <br>

    </p>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
