<ion-content [fullscreen]="true">

  <div id="container">
    
    <div id="title-home">
      <h2>Nos bateaux partenaires</h2>
    </div>
    <div id="reste">
    <p class="text-en-gras">
      Toutes les eaux menent à Thibault.
      
    <p>
      06.63.99.99.78
      <br>
      lebateaudethibault@gmail.com
      <br>
      www.facebook.com/lebateaudethibault
    </p>
  </div>

  <ion-row>
    <ion-col offset-4>
      <ion-button [routerLink]="['dela-brise']" expand="full" color="dark" class="buttons-appli"><img class="icon-buttons" src= "../assets/icons/vue2/deLaBrise_icon.png"> De la Brise</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['saphir']" expand="full" color="dark" class="buttons-appli"> <img class="icon-buttons" src= "../assets/icons/vue2/saphir_icon.png"> Saphir</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col offset-4>
      <ion-button [routerLink]="['gastmicher']" expand="full" color="dark" class="buttons-appli"><img class="icon-buttons" src= "../assets/icons/vue2/gastMicher_icon.png"> Gast Micher</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['aquilon']" expand="full" color="dark" class="buttons-appli"> <img class="icon-buttons" src= "../assets/icons/vue2/aquilon_icon.png"> Aquilon</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/contact']" expand="full" color="dark" class="buttons-appli"><img class="icon-buttons" src= "../assets/icons/ancre.png">  Contact</ion-button>
    </ion-col>
    <ion-col offset-4>
      <ion-button [routerLink]="['/contact']" expand="full" color="dark" class="buttons-appli"><img class="icon-buttons" src= "../assets/icons/ancre.png">  Contact</ion-button>
    </ion-col>
  </ion-row>
</div>
</ion-content>
